@using Microsoft.AspNet.Identity
@{
	ViewBag.Title = "Home Page";
}



<div class="jumbotron">
	<h1>FPT TRAINING SYSTEM</h1>

	@if (User.IsInRole("trainee"))
	{
		<h2>Welcome Trainee</h2>
	}


	@if (User.IsInRole("trainer"))
	{
		<h2>Welcome Trainer</h2>
	}


	@if (User.IsInRole("admin"))
	{
		<h2>Welcome Admin</h2>
	}


	@if (User.IsInRole("staff"))
	{
		<h2>Welcome Staff</h2>
	}

	@if (Request.IsAuthenticated)
	{
		<p>Username: @User.Identity.GetUserName()</p>

	}
</div>


<div class="form-group">
	@if (User.IsInRole("staff"))
	{
		<td>@Html.ActionLink("Assign Trainee", "Index", "EnrollmentTrainees", null, new { @class = "btn btn-warning" })</td>
		<td>@Html.ActionLink("Assign Trainer", "Index", "EnrollmentTrainers", null, new { @class = "btn btn-success" })</td>
	}
</div>

